@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


:root {
    --white: #ffffff;
    --overlay: rgba(31, 29, 43, 0.65);
    --border-45: rgba(255, 255, 255, 0.45);
    --gray-600: #575369;
    --gray-700: #252836;
    --gray-800: #1f1d2b;
    --orange: #ff7551;
    --green: #22b07d;
}

* {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: var(--gray-800);
}

    /*Head*/

header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-top: 15px;
}

header div a img {
    width: 45px;
    border-radius: 50%;
}
.search {
    display: flex;
}
#tqt {
    background-color: var(--gray-600);
    border-radius: 5px;
    padding-left: 10px;
    border-width: 0;
    outline: none;
}
#tqt::placeholder {
    color: rgba(255, 255, 255, 0.8);
}
.search2 {
    display: flex;
    align-items: center;
    gap: 50px;
}
.search2 a {
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--white);
    text-decoration: none;
}
.search a {
    margin-right: 190px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

    /*Main*/

main {
    display: flex;
    width: 90%;
    margin: auto;
}
.teco {
    width: 18%;
}
.teco aside {
    display: flex;
    flex-direction: column;
}
aside {
    width: 75%;
    margin-right: auto;
}
.teco aside ul {
    list-style: none;
    padding: 0;
}
.teco aside ul li a {
    color: var(--white);
    text-decoration: none;
}
.first, .second {
    margin-top: 80px;
    padding-bottom: 80px;
}
.first {
    border-bottom: 2px solid var(--gray-600);
}
.teco aside ul li {
    margin-top: 18px;
}
.teco aside ul li:first-child {
    margin-top: 30px;
}
.first ul li a, .second ul li a{
    display: flex;
    align-items: center;
    color: var(--white);
}
.first ul li a img, .second ul li a img {
    margin-right: 10px;
    padding: 5px;
    background-color: var(--gray-600);
    border-radius: 5px;
}
.first > p, .second > p {
    color: var(--gray-600);
    font-size: 0.8rem;
    font-weight: bold;
}

    /*main*/

.firstSec {
    margin-top: 70px;
}
h1 {
    color: var(--white);
    font-size: 2.1rem;
    margin-bottom: 40px;
}
.one {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    color: var(--white);
}
.top > img {
    width: 750px;
    height: 320px;
    border-radius: 15px;
}
.top2 > img {
    width: 350px;
    height: 320px;
    border-radius: 15px;
}
.top, .top2 {
    position: relative;
}
.top > div {
    position: absolute;
    top: 0;
    width: 720px;
    height: 320px;
    background-color: var(--overlay);
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}
.top2 > div {
    position: absolute;
    top: 0;
    width: 320px;
    height: 320px;
    background-color: var(--overlay);
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}
.olie img {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--border-45);
    inset: 0 0 0 2px var(--blanc);
    border:  3px solid transparent;
}
.top2 h2 {
    width: 65%;
    margin-top: 25px;
}
.top h2 {
    margin-top: 25px;
}
.top div span, .top2 div span {
    align-self: flex-end;
    margin-right: 35px;
    background-color: var(--gray-700);
    padding: 4px 15px;
    border-radius: 10px;
    font-size: 0.8rem;
}
.olie {
    display: flex;
    gap: 15px;
    align-items: center;
}
.olie div p:last-child {
    color: var(--border-45);
    font-size: 0.7rem;
    margin-top: 8px;
}